@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #ffffff;
	--secondary: #EEEDEB;
	--dark:#222831;
	--accent: #e72929;
	--light: #f5f7f8;
}

.aside {
	background-color: var(--light);
}

.main__wrapper {
	display: grid;
	grid-template-columns: 150px 1fr;
	height: 90vh;
	background-color: var(--primary);
}

.main__wrapper-toggle{
	display: grid;
	grid-template-columns: 1fr;

	height: 90vh;
	background-color: var(--primary);
}

body {
	background: var(--primary);
}


