@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #0c0c0c;
	--secondary: #151515;
	--accent: #e72929;
	--light: #f5f7f8;
}

.aside {
	background-color: var(--secondary);
}

.main__wrapper {
	display: grid;
	grid-template-columns: 150px 1fr;

	height: 90vh;
	background-color: var(--primary);
}

body {
	background: var(--primary);
}


