.nav{
  background-color: var(--primary);
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  height: 60px;
  padding-inline:2em;
}

.nav__toggler{
  width: 40px;
  height: 40px;
  background: grey;
}

.nav__form{
  display: flex;
  justify-content: center;
}

.nav__searchbar{
  all:unset;
  background: var(--secondary);
  border: .5px solid rgba(255, 255, 255, 0.58);
  width: 30em;
  padding: 8px;
  border-radius: 50px;
  color: var(--light);
}

